cachetools
celery
django-allauth
django-celery-beat
django-auto-prefetch
django-debug-toolbar
git+https://github.com/boxed/django-fastdev.git
django-guardian
django-htmx
django-localflavor
django-machina
django-model-utils
django-money
django-oscar
django-paypal
django-phonenumber-field[phonenumbers]
django-redis
django-silk
django-taggit
django-template-partials
django-user-agents
django>=5.1
git+https://github.com/Naggafin/django-extensions.git
git+https://github.com/Naggafin/django-htmx-utils.git
git+https://github.com/mozilla/django-csp.git
git+https://github.com/Naggafin/django-view-breadcrumbs.git@improvements
hiredis
isort
jwt
nplusone
parameterized
pillow
pinax-messages
pip
psycopg[c]
psycopg_pool
pycountry
python-dotenv
python-slugify
python-telegram-handler
redis
requests
requests-oauthlib
ruff
slippers
sorl-thumbnail
uv
Whoosh
wagtail
wheel