celery
channels[daphne]
channels-redis
django-allauth
django-auto-prefetch
django-cachalot
django-cache-memoize
django-celery-beat
django-comments-xtd
django-contact-form[akismet]
django-contrib-comments
django-countries[pyuca]
django-debug-toolbar
django-guardian
django-honeypot
django-htmx
django-import-export
django-localflavor
# django-machina  # Not used, can be removed if not needed for forum features
django-model-utils
django-money
# django-oscar  # For future e-commerce/shop features, not used in MVP
django-paypal  # Required for payment integration (MVP)
django-phonenumber-field[phonenumbers]
django-ratelimit
django-redis
django-silk
django-taggit
django-template-partials
django-user-agents
django>=5.1
djangorestframework  # Required for API endpoints (MVP)
djlint
git+https://github.com/boxed/django-fastdev.git
git+https://github.com/mozilla/django-csp.git
git+https://github.com/Naggafin/django-extensions.git
git+https://github.com/Naggafin/django-htmx-utils.git
git+https://github.com/Naggafin/django-view-breadcrumbs.git@improvements
git+https://github.com/Naggafin/django-widget-tweaks.git@render-field-bindings-fix
hiredis
isort
jwt
nplusone
parameterized
pillow
pip
psycopg[c]
psycopg_pool
puput
pycountry
pytest
python-dateutil
python-dotenv
python-slugify
python-telegram-handler
redis
requests
requests-oauthlib
ruff
slippers
sorl-thumbnail
uv
wagtail  # Required for CMS (MVP)
wagtail-localize
wagtail-newsletter
wheel
Whoosh  # Used when running in dev/testing mode
yesglot
