{% extends 'base.html' %}
{% load i18n humanize %}
{% block content %}
    <div class="blog-posts">
        <div class="global-shape style-3">
            <img src="assets/img/shapes/shape-1.png"
                 alt=""
                 data-aos="fade-left"
                 data-aos-duration="500"
                 data-aos-offset="200"
                 data-aos-easing="ease-in"
                 data-aos-delay="400">
        </div>
        <div class="container">
            <div class="row g-4">
                <div class="col-xl-8 col-lg-12">
                    <div class="row g-4">
                        {% for post in posts %}
                            {% cycle '' 'right-sided-img' as rowclass silent %}
                            <div class="col-xl-12 col-lg-12 col-md-6"
                                 data-aos="fade-up"
                                 data-aos-delay="100"
                                 data-aos-duration="500"
                                 data-aos-easing="ease-in">
                                <div class="single-blog
                                            {% if not forloop.last %}
                                                {{ rowclass }}
                                            {% else %}
                                                vertical-style
                                            {% endif %}">
                                    <div class="part-img">
                                        {% if post.header_image %}
                                            <img src="{{ post.header_image.get_rendition("fill-800x400").url }}"
                                                 alt="">
                                        {% endif %}
                                    </div>
                                    <div class="part-text">
                                        <span class="post-category">{{ post.category }}</span>
                                        <h3 class="blog-post-title">
                                            <a href="{{ post.url }}">{{ post.title }}</a>
                                        </h3>
                                        <p>{{ post.intro }}</p>
                                        <div class="post-info-stats">
                                            <a href="javascript:void(0);" class="post-creator">
                                                <div class="creator-pic">
                                                    {# TODO: <img src="assets/img/blog/user-1.jpg" alt=""> #}
                                                </div>
                                                <span class="creator-name">{{ post.author }}</span>
                                            </a>
                                            <span class="posting-time">{{ post.date|naturalday }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                {% if posts.paginator.num_pages > 1 %}
                    <div class="pok-pagination"
                         data-aos="fade-up"
                         data-aos-delay="100"
                         data-aos-duration="500"
                         data-aos-easing="ease-in">
                        <ul>
                            {% if posts.has_previous %}
                                <li>
                                    <a href="?page={{ posts.previous_page_number }}"><i class="fa-solid fa-angle-left"></i></a>
                                </li>
                            {% endif %}
                            {% if 1 not in page_range %}
                                <li>
                                    <a href="?page=1">1</a>
                                </li>
                                <li class="dotted">
                                    <i class="fa-solid fa-ellipsis"></i>
                                </li>
                            {% endif %}
                            {% for num in page_range %}
                                {% if num == posts.number %}
                                    <li>
                                        <a href="?page={{ num }}" class="active">{{ num|stringformat:"02d" }}</a>
                                    </li>
                                {% else %}
                                    <li>
                                        <a href="?page={{ num }}">{{ num|stringformat:"02d" }}</a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                            {% if total_pages not in page_range %}
                                <li class="dotted">
                                    <i class="fa-solid fa-ellipsis"></i>
                                </li>
                                <li>
                                    <a href="?page={{ total_pages }}">{{ total_pages }}</a>
                                </li>
                            {% endif %}
                            {% if posts.has_next %}
                                <li>
                                    <a href="?page={{ posts.next_page_number }}"><i class="fa-solid fa-angle-right"></i></a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
