{% extends 'base.html' %}
{% load static i18n humanize %}
{% block content %}
    <div class="blog-details">
        <div class="global-shape style-3">
            <img src="{% static 'peredion/images/shapes/shape-1.png' %}"
                 alt=""
                 data-aos="fade-left"
                 data-aos-duration="500"
                 data-aos-offset="200"
                 data-aos-easing="ease-in"
                 data-aos-delay="400">
        </div>
        <div class="container">
            <div class="post-element">
                <div class="post-stats"
                     data-aos="fade-up"
                     data-aos-delay="100"
                     data-aos-duration="500"
                     data-aos-easing="ease-in">
                    <span class="category-name">{{ page.category }}</span>
                    <span class="posted-time">{{ page.date|naturalday }}</span>
                </div>
                <h2 class="post-title"
                    data-aos="fade-up"
                    data-aos-delay="150"
                    data-aos-duration="500"
                    data-aos-easing="ease-in">
                    <span>{{ page.title }}</span>
                </h2>
                <div class="author-info"
                     data-aos="fade-up"
                     data-aos-delay="200"
                     data-aos-duration="500"
                     data-aos-easing="ease-in">
                    <div class="author-pic">
                        {# TODO: <img src="{% static 'peredion/images/blog/blog-details-user-1.jpg' %}"
      alt=""> #}
                    </div>
                    <div class="author-descr">
                        <span class="auth-name">{{ page.author }}</span>
                        {% comment %}
					TODO
					<span class="break-icon">/</span>
					<span class="auth-designation">Business analytics</span>
                        {% endcomment %}
                    </div>
                </div>
                {% if page.header_image %}
                    <div class="post-img"
                         data-aos="fade-up"
                         data-aos-delay="250"
                         data-aos-duration="500"
                         data-aos-easing="ease-in">
                        <img src="{{ page.header_image.get_rendition("fill-1200x600").url }}"
                             alt="">
                    </div>
                {% endif %}
                <div class="post-body">{{ page.body|richtext }}</div>
            </div>
            <div class="post-comment-element">
                <form class="post-comment-form"
                      data-aos="fade-up"
                      data-aos-delay="550"
                      data-aos-duration="500"
                      data-aos-easing="ease-in">
                    <div class="commentor-pic">
                        {# TODO: real profile image should go here #}
                        <img src="{% static 'peredion/images/blog/random-user.png' %}" alt="">
                    </div>
                    <div class="part-form">
                        <form>
                            <input type="text" placeholder="{% trans 'Write something...' %}">
                            <button type="submit">
                                <i class="fa-solid fa-feather"></i>
                            </button>
                        </form>
                    </div>
                </form>
                <div class="all-comments"
                     data-aos="fade-up"
                     data-aos-delay="600"
                     data-aos-duration="500"
                     data-aos-easing="ease-in">
                    <h4 class="element-titl">
                        <span>{% trans 'All comments' %} ({{ comments|length }})</span>
                    </h4>
                    <div>
                        {% for comment in page.comments %}
                            <div class="single-comment">
                                <div class="commentor-pic">
                                    {# TODO: real profile image should go here #}
                                    <img src="{% static 'peredion/images/blog/random-user.png' %}" alt="">
                                </div>
                                <div class="part-comment-info">
                                    <div class="comment-stats">
                                        <span class="commentator-name">{{ comment.author }}</span>
                                        <span class="commented-time">{{ comment.date|naturalday }}</span>
                                    </div>
                                    <p>{{ comment.content }}</p>
                                    <div class="comment-into-social">
                                        <a href="#0" class="single-social love-reaction">
                                            <span class="icon love-icon"><i class="fa-solid fa-heart"></i></span>
                                            <span class="social-text loved-number">18</span>
                                        </a>
                                        <a href="#0" class="single-social">
                                            <span class="icon comment-icon"><i class="fa-solid fa-comment"></i></span>
                                            <span class="social-text">Comment</span>
                                        </a>
                                        <a href="#0" class="single-social">
                                            <span class="icon share-icon"><i class="fa-solid fa-paper-plane"></i></span>
                                            <span class="social-text">Share</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="recommended-post-element"
                 data-aos="fade-up"
                 data-aos-delay="550"
                 data-aos-duration="500"
                 data-aos-easing="ease-in">
                <h4 class="element-title">
                    <span>Recommended articles</span>
                </h4>
                <div class="recommended-post-slider owl-carousel owl-theme">
                    <div class="single-blog">
                        <div class="part-img">
                            <img src="{% static 'peredion/images/blog/blog-post-1.jpg" alt="">
                        </div>
                        <div class="part-text">
                            <span class="post-category">euro jackpot</span>
                            <h3 class="blog-post-title">
                                <a href="blog-details.html">Even more and setted see.</a>
                            </h3>
                            <div class="post-info-stats">
                                <a href="#0" class="post-creator">
                                    <div class="creator-pic">
                                        <img src="{% static 'peredion/images/blog/user-1.jpg" alt="">
                                    </div>
                                    <span class="creator-name">Sierra Guzman</span>
                                </a>
                                <span class="posting-time">3 days ago</span>
                            </div>
                        </div>
                    </div>
                    <div class="single-blog">
                        <div class="part-img">
                            <img src="{% static 'peredion/images/blog/blog-post-3.jpg" alt="">
                        </div>
                        <div class="part-text">
                            <span class="post-category">mega millions</span>
                            <h3 class="blog-post-title">
                                <a href="blog-details.html">Began a need detailed free.</a>
                            </h3>
                            <div class="post-info-stats">
                                <a href="#0" class="post-creator">
                                    <div class="creator-pic">
                                        <img src="{% static 'peredion/images/blog/user-3.jpg" alt="">
                                    </div>
                                    <span class="creator-name">Peter Bowen</span>
                                </a>
                                <span class="posting-time">2 days ago</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
