{% extends 'base.html' %}
{% load static i18n humanize partials %}
{% load sportsbetting_tags %}
{% partialdef bet-section-tab-row %}
<div class="single-t-match"
    :class="{ 'finished': game.isFinished, 'match-in-play': game.hasStarted() }"
    {# djlint:off #}
         x-data="{
             disabled: {{ disabled|default:False|yesno:'true,false' }},
             bettingLine: '{{ line.pk }}',
             game: {
                 id: '{{ line.game.pk }}',
                 start_datetime: new Date('{{ line.game.start_datetime.isoformat }}'),
                 away_team: '{{ line.game.away_team|escapejs }}',
                 home_team: '{{ line.game.home_team|escapejs }}',
                 away_team_score: {{ line.game.away_team_score|default_if_none:'null' }},
                 home_team_score: {{ line.game.home_team_score|default_if_none:'null' }},
                 away_team_pk: {{ line.game.away_team.pk }},
                 home_team_pk: {{ line.game.home_team.pk }},
                 spread: {{ line.spread }},
                 isPick: {{ line.is_pick|yesno:'true,false' }},
                 over: {{ line.over|default_if_none:'null' }},
                 under: {{ line.under|default_if_none:'null' }},
                 isFinished: {{ line.game.is_finished|yesno:'true,false' }},
                 hasStarted() {
                     return new Date() >= this.start_datetime;
                 }
             },
             isPickSelected(type, value) {
                 const store = Alpine.store('betSlip');

                 if (!store) return false;

                 const pick = store.picks.find(
                     p => p.bettingLine === this.bettingLine && p.type === type
                 );

                 if (!pick) return false;
                 if (value == null) return true;

                 switch (type) {
                     case 'sp':
                         return pick.team === value;
                     case 'uo':
                         return pick.isOver === value;
                     default:
                         return false;
                 }
             },
             displayTeam(team_pk, team_name) {
                 if (this.isPickSelected('sp', team_pk) && !this.game.isPick) {
                     const spread = (team_pk === this.game.away_team_pk) ? `+${Math.abs(this.game.spread)}` : `-${Math.abs(this.game.spread)}`;
                     return `${spread}/${team_name}`;
                 }
                 return team_name;
             },
             displaySpread() {
                 if (!this.isPickSelected('sp') || this.game.isPick)
                     return this.game.isPick ? `P${this.game.spread}` : this.game.spread;
                 return '';
             },
             addPick(type, team, isOver) {
             	if (disabled) return;
                 const store = Alpine.store('betSlip');
                 if (!store) return;
                 store.addPick({
                     bettingLine: this.bettingLine,
                     type: type,
                     team: team,
                     isOver: isOver,
                     game: this.game
                 });
             },
             removePick(type) {
             	if (disabled) return;
                 const store = Alpine.store('betSlip');
                 if (!store) return;
                 store.removePick({
                     bettingLine: this.bettingLine,
                     type: type
                 });
             }
         }">
    {# djlint:on #}
    <div class="match-time">
        <span class="time-icon">
            <i class="fa-solid fa-clock"></i>
        </span>
        {% if line.game.has_started and not game.isFinished %}
            <span class="m-date">{{ line.game.start_datetime|time }}</span>
            <span class="m-in-play">{% trans 'in-play' %}</span>
        {% else %}
            <span class="m-date">{{ line.game.start_datetime|naturalday }}</span>
            <span class="m-time">{{ line.game.start_datetime|time }}</span>
        {% endif %}
    </div>
    <div class="playing-teams">
        <div class="single-team">
            <div class="team-descr">
                <span class="team-icon">
                    <img src="{% if line.game.away_team.logo %}{{ line.game.away_team.logo.url }}{% else %}{% static 'images/team-missing-logo.png' %}{% endif %}"
                         alt="{{ line.game.away_team }}"
                         nonce="{{ request.csp_nonce }}">
                </span>
                <span class="team-name" x-text="game.away_team"></span>
            </div>
            <div class="team-score"
                 :class="{ 'up': game.away_team_score > game.home_team_score, 'down': game.away_team_score < game.home_team_score }"
                 x-show="game.away_team_score !== null"
                 x-text="game.away_team_score"></div>
        </div>
        <div class="single-team">
            <div class="team-descr">
                <span class="team-icon">
                    <img src="{% if line.game.home_team.logo %}{{ line.game.home_team.logo.url }}{% else %}{% static 'images/team-missing-logo.png' %}{% endif %}"
                         alt="{{ line.game.home_team }}"
                         nonce="{{ request.csp_nonce }}">
                </span>
                <span class="team-name">{{ line.game.home_team }}</span>
            </div>
            <div class="team-score"
                 :class="{ 'up': game.home_team_score > game.away_team_score, 'down': game.home_team_score < game.away_team_score }"
                 x-show="game.home_team_score !== null"
                 x-text="game.home_team_score"></div>
        </div>
    </div>
    <div class="placing-bet">
        <template x-if="game.spread">
            <div class="row flex-nowrap">
                <button class="single-bet-place"
                        :class="{ 'placed': isPickSelected('sp', game.away_team_pk) }"
                        @click="addPick('sp', game.away_team_pk, null)"
                        :disabled="game.isFinished || game.hasStarted() || isPickSelected('sp', game.away_team_pk) || disabled">
                    <span class="bet-ratio d-inline">
                        <i class="fa-solid fa-check-circle"
                           x-show="isPickSelected('sp', game.away_team_pk)"></i>
                    </span>
                    <span class="team-name d-inline"
                          x-text="displayTeam(game.away_team_pk, game.away_team)"></span>
                </button>
                <button class="single-bet-place draw-box"
                        @click="removePick('sp')"
                        :disabled="game.isFinished || game.hasStarted() || disabled">
                    <span class="bet-ratio" x-text="displaySpread"></span>
                    <span class="team-name"
                          x-text="isPickSelected('sp') ? '{% trans 'Clear selection' %}' : ''"></span>
                </button>
                <button class="single-bet-place"
                        :class="{ 'placed': isPickSelected('sp', game.home_team_pk) }"
                        @click="addPick('sp', game.home_team_pk, null)"
                        :disabled="game.isFinished || game.hasStarted() || isPickSelected('sp', game.home_team_pk) || disabled">
                    <span class="bet-ratio d-inline">
                        <i class="fa-solid fa-check-circle"
                           x-show="isPickSelected('sp', game.home_team_pk)"></i>
                    </span>
                    <span class="team-name d-inline"
                          x-text="displayTeam(game.home_team_pk, game.home_team)"></span>
                </button>
            </div>
        </template>
        <template x-if="game.under || game.over">
            <div class="row flex-nowrap">
                <button class="single-bet-place"
                        :class="{ 'placed': isPickSelected('uo', false) }"
                        @click="addPick('uo', null, false)"
                        :disabled="game.isFinished || game.hasStarted() || isPickSelected('uo', false) || disabled">
                    <span class="bet-ratio d-inline"><i class="fa-solid fa-check-circle" x-show="isPickSelected('uo', false)"></i></span>
                    <span class="team-name d-inline">{% trans 'Under' %} <span class="d-inline" x-text="game.under"></span></span>
                </button>
                <button class="single-bet-place draw-box"
                        @click="removePick('uo')"
                        :disabled="game.isFinished || game.hasStarted() || disabled">
                    <span class="bet-ratio"></span>
                    <span class="team-name"
                          x-text="isPickSelected('uo') ? '{% trans 'Clear selection' %}' : ''"></span>
                </button>
                <button class="single-bet-place"
                        :class="{ 'placed': isPickSelected('uo', true) }"
                        @click="addPick('uo', null, true)"
                        :disabled="game.isFinished || game.hasStarted() || isPickSelected('uo', true) || disabled">
                    <span class="bet-ratio d-inline"><i class="fa-solid fa-check-circle" x-show="isPickSelected('uo', true)"></i></span>
                    <span class="team-name d-inline">{% trans 'Over' %} <span class="d-inline" x-text="game.over"></span></span>
                </button>
            </div>
        </template>
    </div>
    <span class="bet-ratio-details">
        <a href="#TODO"><i class="fa-regular fa-angle-right"></i></a>
    </span>
</div>
{% endpartialdef %}
{% partialdef bet-section-tab-content %}
<div class="single-tournament">
    <div class="tournament-title">
        <span class="title-text">{{ governing_body }}
            {% if league %}{{ league }}{% endif %}
        </span>
        <span class="match-quantity">({{ lines|length }})</span>
    </div>
    <div class="all-tournament-match">
        {% for line in lines %}
            {% with game=line.game %}
                {% partial bet-section-tab-row %}
            {% endwith %}
        {% endfor %}
    </div>
</div>
{% endpartialdef %}
{% partialdef bet-section-tab %}
{# djlint:off #}
{% with suffix=tab.num|default:""|yesno:"-{{ tab.num }},," %}
{# djlint:on #}
<div class="tab-pane fade
            {% if active %}show active{% endif %}"
     id="sports-{{ sport.slug_name }}{{ suffix }}"
     role="tabpanel"
     aria-labelledby="sports-{{ sport.slug_name }}-tab{{ suffix }}">
    <div class="single-sports-item">
        <h2 class="accordion-header"
            id="{{ sport.slug_name }}-matches{{ suffix }}">
            <div class="sports-header">
                <span class="single-sports-icon">
                    <img src="{% static 'peredion/images/playing-bet/icon/'|add:sport.slug_name|add:'.png' %}"
                         alt="{{ sport }}"
                         nonce="{{ request.csp_nonce }}">
                </span>
                <span class="single-sports-name">{{ sport }} ({% num_betting_lines sport game_state %})</span>
                <span class="single-sports-img">
                    <img src="{% static 'peredion/images/playing-bet/'|add:sport.slug_name|add:'-bg.png' %}"
                         alt=""
                         nonce="{{ request.csp_nonce }}">
                </span>
            </div>
        </h2>
        <div class="sports-expanded-list">
            <div class="sports-body">
                <div class="playing-sports-all no-tabs-here">
                    {% for governing_body__league, lines in lines_dict.items %}
                        {% with governing_body=governing_body__league.0 league=governing_body__league.1 %}
                            {% partial bet-section-tab-content %}
                        {% endwith %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endwith %}
{% endpartialdef %}
{% block content %}
    <div class="playing-bet placing-bet-page">
        <div class="global-shape style-3">
            <img src="{% static 'peredion/images/shapes/shape-1.png' %}"
                 alt=""
                 data-aos="fade-left"
                 data-aos-duration="700"
                 data-aos-delay="200">
        </div>
        <div class="container">
            <div class="bfilter-control"
                 data-aos="fade-up"
                 data-aos-delay="150"
                 data-aos-duration="500"
                 data-aos-easing="ease-in">
                <ul class="nav nav-pills" id="bet-tab" role="tablist">
                    {% for tab in tabs %}
                        <li class="nav-item" role="presentation">
                            <button class="nav-link"
                                    id="bet-upcoming-tab"
                                    data-bs-toggle="pill"
                                    data-bs-target="#bet-{{ tab.id }}"
                                    type="button"
                                    role="tab"
                                    aria-controls="bet-{{ tab.id }}"
                                    aria-selected="false">
                                {% if tab.id == 'inplay' %}<i class="fa-solid fa-signal-stream"></i>{% endif %}
                                {% trans tab.name %}
                            </button>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="tab-content" id="bet-tabContent">
                {% for tab in tabs %}
                    <div class="tab-pane fade
                                {% if forloop.first %}show active{% endif %}"
                         id="bet-{{ tab.id }}"
                         role="tabpanel"
                         aria-labelledby="bet-{{ tab.id }}-tab">
                        <div class="sports-menu scrollable-menu" data-overlayscrollbars-initialize>
                            <ul class="nav nav-pills" id="sports-tab-{{ tab.num }}" role="tablist">
                                {% for sport in tab.entries %}
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link
                                                       {% if forloop.first %}active{% endif %}"
                                                id="sports-{{ sport.slug_name }}-tab-{{ tab.num }}"
                                                data-bs-toggle="pill"
                                                data-bs-target="#sports-{{ sport.slug_name }}-{{ tab.num }}"
                                                type="button"
                                                role="tab"
                                                aria-controls="sports-{{ sport.slug_name }}-{{ tab.num }}"
                                                aria-selected="{% if forloop.first %}
                                                                   true
                                                               {% else %}
                                                                   false
                                                               {% endif %}">
                                            <span class="sport-icon">
                                                <img src="{% static 'peredion/images/playing-bet/sports-icon/'|add:sport.slug_name|add:'.png' %}"
                                                     alt="{{ sport }}"
                                                     nonce="{{ request.csp_nonce }}">
                                            </span>
                                            <span class="sport-name">{{ sport }}</span>
                                        </button>
                                    </li>
                                {% empty %}
                                    <li class="nav-item">{% trans "No sports available" %}</li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="tab-content" id="sports-tabContent-{{ tab.num }}">
                            {% for sport, lines_dict in tab.entries.items %}
                                {% with active=forloop.first game_state=tab.id %}
                                    {% partial bet-section-tab %}
                                {% endwith %}
                            {% empty %}
                                <p>{% trans "No games available for this tab." %}</p>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
