// footer
.footer {
    background: url('../img/footer/footer-bg.jpg') center center no-repeat;
    background-size: cover;
    position: relative;
    z-index: 2;
    overflow: hidden;
    &:after {
        position: absolute;
        content: '';
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: $base-color;
        opacity: .95;
        z-index: -1;
    }
    &:before {
        position: absolute;
        content: '';
        right: -100px;
        top: -245px;
        width: 598px;
        height: 598px;
        background: #FB355E;
        filter: blur(100px) opacity(25%);
    }
    .footer-top {
        text-align: center;
        padding: 100px 0 60px;
        position: relative;
        z-index: 0;
        &:after {
            position: absolute;
            content: '';
            width: 604px;
            height: 604px;
            background: #29589A;
            opacity: 0.55;
            filter: blur(100px);
            top: 100px;
            left: -150px;
            z-index: -1;
        }
        @include media-breakpoint-down(xxl) {
            padding-top: 80px;
        }
        @include media-breakpoint-down(xl) {
            padding-top: 60px;
        }
        @include media-breakpoint-down(md) {
            padding: 50px 0;
        }
        @include media-breakpoint-down(mobile) {
            padding: 40px 0;
        } 
        .part-about {
            @include media-breakpoint-between(mobile, sm) {
                padding: 0 30px;
            }
            .footer-logo {
                a {
                    display: inline-block;
                    margin-bottom: 31px;
                    @include media-breakpoint-down(xl) {
                        margin-bottom: 21px;
                    }
                    @include media-breakpoint-down(md) {
                        margin-bottom: 21px;
                    }
                    @include media-breakpoint-down(mobile) {
                        margin-bottom: 23px;
                    }
                    img {
                        height: 46px;
                        width: auto;
                        max-width: none;
                        @include media-breakpoint-down(xxl) {
                            height: 40px;
                        }
                        @include media-breakpoint-down(xl) {
                            height: 36px;
                        }
                        @include media-breakpoint-down(mobile) {
                            height: 32px;
                        }
                    }
                }
            }
            p {
                color: rgba($white, 0.8);
                font-weight: 400;
                font-size: 16px;
                line-height: 30px;
                margin-bottom: 25px;
                @include media-breakpoint-down(xxl) {
                    margin: 0 -8px 25px;
                }
                @include media-breakpoint-down(xl) {
                    margin: 0 0 15px;
                }
                @include media-breakpoint-down(lg) {
                    br {
                        display: none;
                    }
                }
                @include media-breakpoint-down(mobile) {
                    font-size: 15px;
                    line-height: 25px;
                }
            }
            ul.importants-links {
                display: flex;
                justify-content: center;
                margin-bottom: -7px;
                li.single-link {
                    a {
                        font-weight: 600;
                        font-size: 15px;
                        line-height: 25px;
                        letter-spacing: 0.02em;
                        color: rgba($white, 0.8);
                        text-transform: capitalize;
                        display: inline-block;
                        position: relative;
                        padding: 0 15px;
                        @include transition($transition);
                        @include media-breakpoint-down(mobile) {
                            font-size: 14px;
                            line-height: 24px;                        
                        }
                        &:hover {
                            color: $white;
                        }
                        &:after {
                            position: absolute;
                            content: '';
                            left: calc(100% - 0.5px);
                            top: 50%;
                            transform: translateY(-50%);
                            background: $gradient-1;
                            height: 12px;
                            width: 1px;
                        }
                    }
                    &:last-child {
                        a {
                            &:after {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }
    .footer-bottom {
        position: relative;
        padding: 30px 0;
        @include media-breakpoint-down(lg) {
            padding: 23px 0 23px;
        }
        &:after {
            position: absolute;
            content: '';
            top: 0;
            width: 100%;
            left: 0;
            height: 1px;
            background: $white;
            opacity: .1;
        }
        .footer-bottom-content {
            display: flex;
            justify-content: space-between;
            align-items: center;
            @include media-breakpoint-down(lg) {
                flex-direction: column;
            }
            p.copyright-text {
                font-weight: 400;
                font-size: 16px;
                line-height: 26px;
                text-transform: capitalize;
                margin-bottom: 0;
                color: #D9D9D9;
                @include media-breakpoint-down(mobile) {
                    text-align: center;
                    font-size: 15px;
                    line-height: 25px;
                }
            }
            ul.social-link {
                display: flex;
                @include media-breakpoint-down(lg) {
                    margin: 19px 0;
                }
                @include media-breakpoint-down(sm) {
                    margin: 13px 0 11px;
                }
                li.single-social {
                    margin-right: 25px;
                    @include media-breakpoint-down(xl) {
                        margin-right: 20px;
                    }
                    @include media-breakpoint-down(mobile) {
                        margin-right: 15px;
                    }
                    &:last-child {
                        margin-right: 0;
                    }
                    a {
                        width: 30px;
                        height: 30px;
                        background: $gradient-1;
                        border-radius: 50%;
                        text-align: center;
                        line-height: 32px;
                        font-size: 12px;
                        color: $white;
                        position: relative;
                        z-index: 2;
                        @include transition($transition);
                        &:after {
                            position: absolute;
                            content: '';
                            left: -1px;
                            top: -1px;
                            right: -1px;
                            bottom: -1px;
                            z-index: -1;
                            background: $gradient-2;
                            border-radius: 50%;
                            @include transition($transition);
                        }
                        &:hover {
                            color: $base-color;
                            &:after {
                                opacity: 0;
                            }
                        }
                    }
                }
            }
            .footer-menu {
                ul {
                    display: flex;
                    justify-content: flex-end;
                    @include media-breakpoint-down(mobile) {
                        flex-wrap: wrap;
                        justify-content: center;
                    }
                    li {
                        margin-left: 40px;
                        @include media-breakpoint-down(xl) {
                            margin-left: 20px;
                        }
                        @include media-breakpoint-down(mobile) {
                            margin-left: 0;
                            margin: 0 15px;
                        }
                        &:first-child {
                            margin-left: 0;
                        }
                        a.single-menu {
                            font-weight: 500;
                            font-size: 15px;
                            line-height: 25px;
                            letter-spacing: 0.01em;
                            text-transform: uppercase;
                            color: rgba(255, 255, 255, 0.8);
                            display: inline-block;
                            @include transition($transition);
                            @include media-breakpoint-down(lg) {
                                font-size: 14px;
                                line-height: 24px;
                            }
                            @include media-breakpoint-down(mobile) {
                                font-size: 13px;
                                line-height: 23px;
                            }
                            &:hover {
                                color: $white;
                            }
                        }
                    }
                }
            }
        }
    }
}