{% extends 'peredion/dashboard/base.html' %}
{% load i18n django_tables2 %}
{% block content %}
    <div class="db-elements">
        <div class="container">
            <div class="row">
                <div class="col-xl-12 col-lg-12">
                    <div class="single-db-element">
                        <h4 class="title">
                            <span class="icon"><i class="fa-solid fa-files"></i></span>
                            <span class="text">{% trans 'my recent bets' %}</span>
                        </h4>
                        <div class="sports-body">{% render_table table %}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
