{% extends 'peredion/dashboard/base.html' %}
{% load static i18n %}
{% block content %}
    <div class="db-elements">
        <div class="container">
            <div class="row">
                <div class="col-xl-12 col-lg-12">
                    <div class="single-db-element setting-title-changed">
                        <h4 class="title">
                            <span class="icon wallet">
                                <img src="{% static 'peredion/images/icon/edit-profile.png' %}" alt="">
                            </span>
                            <span class="text">{% trans 'edit profile' %}</span>
                        </h4>
                        <div class="settings-element">
                            <div class="row">
                                <div class="col-xl-3 col-lg-12">
                                    <div class="nav flex-xl-column flex-md-row flex-column nav-pills settings-tab-button"
                                         id="settings-tab"
                                         role="tablist"
                                         aria-orientation="vertical">
                                        <button class="nav-link active settings-profile-tab"
                                                id="settings-profile-tab"
                                                data-bs-toggle="pill"
                                                data-bs-target="#settings-profile"
                                                type="button"
                                                role="tab"
                                                aria-controls="settings-profile"
                                                aria-selected="true">
                                            <i class="fa-solid fa-circle-info"></i> {% trans 'profile information' %}
                                        </button>
                                        {% comment %}
                                    TODO
                                    <button class="nav-link settings-privacy-tab" id="settings-privacy-tab" data-bs-toggle="pill" data-bs-target="#settings-privacy" type="button" role="tab" aria-controls="settings-privacy" aria-selected="false">
                                        <i class="fa-solid fa-key"></i> {% trans 'privacy settings' %}
                                    </button>
                                    <button class="nav-link settings-account-tab" id="settings-account-tab" data-bs-toggle="pill" data-bs-target="#settings-account" type="button" role="tab" aria-controls="settings-account" aria-selected="false">
                                        <i class="fa-solid fa-user"></i> {% trans 'account settings' %}
                                    </button>
                                        {% endcomment %}
                                    </div>
                                </div>
                                <div class="col-xl-9 col-lg-12">
                                    <div class="tab-content" id="settings-tabContent">
                                        <div class="tab-pane fade show active"
                                             id="settings-profile"
                                             role="tabpanel"
                                             aria-labelledby="settings-profile-tab">
                                            <div class="profile-setting">
                                                <div class="part-pic">
                                                    {# TODO: <img src="assets/img/settings/pp.jpg" alt=""> #}
                                                </div>
                                                <div class="part-info">
                                                    <ul>
                                                        <li>
                                                            <span class="property">{% trans 'First Name' %} :</span>
                                                            <span class="value">{{ request.user.first_name }}</span>
                                                        </li>
                                                        <li>
                                                            <span class="property">{% trans 'Last Name' %} :</span>
                                                            <span class="value">{{ request.user.last_name }}</span>
                                                        </li>
                                                        <li>
                                                            <span class="property">{% trans 'Email Address' %} :</span>
                                                            <span class="value">{{ request.user.email }}</span>
                                                        </li>
                                                        <li>
                                                            <span class="property">{% trans 'Phone Numbers' %} :</span>
                                                            <span class="value">{{ request.user.phone_number }}</span>
                                                        </li>
                                                        <li>
                                                            <span class="property">{% trans 'Country' %} :</span>
                                                            <span class="value">{{ request.user.country }}</span>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        {% comment %}
                                    TODO
                                    <div class="tab-pane fade" id="settings-privacy" role="tabpanel" aria-labelledby="settings-privacy-tab">
                                        <div class="privacy-settings">
                                            <ul>
                                                <li>
                                                    <span class="title">Manage Email Notifications :</span>
                                                    <button class="prd-btn-1 small">manage</button>
                                                </li>
                                                <li>
                                                    <span class="title">Manage Privacy Settings :</span>
                                                    <button class="prd-btn-1 small">manage</button>
                                                </li>
                                                <li>
                                                    <span class="title">Personalize Ad Experience :</span>
                                                    <button class="prd-btn-1 small">update</button>
                                                </li>
                                                <li>
                                                    <span class="title">Protect Your Account :</span>
                                                    <button class="prd-btn-1 small">protect</button>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="settings-account" role="tabpanel" aria-labelledby="settings-account-tab">
                                        <div class="privacy-settings">
                                            <ul>
                                                <li>
                                                    <span class="title">Sync Watchlist to My Stuff :</span>
                                                    <button class="prd-btn-1 small">sync</button>
                                                </li>
                                                <li>
                                                    <span class="title">Hold Your Subscription :</span>
                                                    <button class="prd-btn-1 small">hold</button>
                                                </li>
                                                <li>
                                                    <span class="title">Cancel Your Subscription :</span>
                                                    <button class="prd-btn-1 small">cancel</button>
                                                </li>
                                                <li>
                                                    <span class="title">Your Devices :</span>
                                                    <button class="prd-btn-1 small">manage</button>
                                                </li>
                                                <li>
                                                    <span class="title">Referrals :</span>
                                                    <button class="prd-btn-1 small">get $10</button>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                        {% endcomment %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
