<table class="table">
	<tr>
		<td style="vertical-align:top;">Picks:</td>
		<td>
			{% for spread in play.spread_picks.all %}
			{{ spread }}<br>
			{% empty %}
			{% endfor %}
			{% for under_over in play.under_over_picks.all %}
			{{ under_over }}<br>
			{% empty %}
			{% endfor %}
		</td>
	</tr>
	<tr><td>Bet amount:</td><td>${{ play.bet_amount }}</td></tr>
	<tr><td>Your name:</td><td>{{ play.purchaser_name }}</td></tr>
	<tr><td>Your email:</td><td>{{ play.email }}</td></tr>
	{% if play.phone %}<tr><td>Your phone number:</td><td>{{ play.phone }}</td></tr>{% endif %}
	<tr><td>Order date:</td><td>{{ play.date }}</td></tr>
</table>