{% extends 'base.html' %}

{% block title %}Ticket Play Details{% endblock %}

{% block content %}
	<div class="container">
	{% if play %}
	<h3>Ticket play summary</h3>
	<p>Your bets have been recorded into our system. If you would like to pay your wager now, you can use PayPal below, or you can call <b>1-888-664-2636</b> for non-PayPal arranged payments. Thanks for placing your bets with us!</p>
	<div>
		{% include 'sportsbetting/component_order_details.html' %}
	</div>
	<div>
		{{ paypal_form.render }}
	</div>
	{% else %}
	<h3>There seems to be a problem with the order. ):</h3>
	{% endif %}
</div>
{% endblock %}
