{% load static i18n %}
{% load django_htmx %}
{% get_current_language as LANGUAGE_CODE %}{% get_current_language_bidi as LANGUAGE_BIDI %}
{% get_available_languages as languages %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE|default:'en-us' }}">
    <head>
        <!-- Meta -->
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="keywords" content="TODO" />
        <meta name="description" content="TODO" />
        <meta property="og:title" content="TODO" />
        <meta property="og:description" content="TODO" />
        <meta property="og:image" content="TODO" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% trans 'Game-on-Lock' %}</title>
        <link rel="shortcut icon"
              type="image/x-icon"
              href="{% static 'images/favicon.ico' %}"
              nonce="{{ request.csp_nonce }}">
        {% block additional_css %}{% endblock %}
        {% block global_css %}
            <!-- bootstrap -->
            <link rel="stylesheet"
                  href="{% static 'peredion/css/bootstrap.min.css' %}"
                  nonce="{{ request.csp_nonce }}">
            <!-- animate css -->
            <link rel="stylesheet"
                  href="{% static 'peredion/css/animate.min.css' %}"
                  nonce="{{ request.csp_nonce }}">
            <!-- load all Font Awesome styles -->
            <link rel="stylesheet"
                  href="{% static 'peredion/css/all.min.css' %}"
                  nonce="{{ request.csp_nonce }}">
            <!-- owl carousel css -->
            <link rel="stylesheet"
                  href="{% static 'peredion/css/owl.carousel.min.css' %}"
                  nonce="{{ request.csp_nonce }}">
            <!-- odometer css -->
            <link rel="stylesheet"
                  href="{% static 'peredion/css/odometer.min.css' %}"
                  nonce="{{ request.csp_nonce }}">
            <!-- overlay scrollbar css -->
            <link rel="stylesheet"
                  href="{% static 'peredion/css/OverlayScrollbars.min.css' %}"
                  nonce="{{ request.csp_nonce }}">
            <!-- aos css -->
            <link href="{% static 'peredion/css/aos.css' %}"
                  rel="stylesheet"
                  nonce="{{ request.csp_nonce }}">
            <!-- main css -->
            <link rel="stylesheet"
                  href="{% static 'peredion/css/style.css' %}"
                  nonce="{{ request.csp_nonce }}">
            <link rel="stylesheet"
                  href="{% static 'css/style.css' %}"
                  nonce="{{ request.csp_nonce }}">
        {% endblock %}
        {% block global_js %}
            {% if debug and not request.user_agent.is_pc %}
                <script src="{% static 'js/eruda.js' %}" nonce="{{ request.csp_nonce }}"></script>
                <script src="{% static 'js/eruda-code.js' %}" nonce="{{ request.csp_nonce }}"></script>
                <script type="text/javascript" nonce="{{ request.csp_nonce }}">
                    eruda.add(erudaCode);
                    eruda.init();
                </script>
            {% endif %}
            <script src="{% static 'js/main.js' %}" nonce="{{ request.csp_nonce }}"></script>
            {% if debug %}
                <script src="{% static 'js/htmx.js' %}"
                        defer="true"
                        nonce="{{ request.csp_nonce }}"></script>
                <script src="{% static 'js/alpine.js' %}"
                        defer="true"
                        nonce="{{ request.csp_nonce }}"></script>
            {% else %}
                <script src="{% static 'js/htmx.min.js' %}"
                        defer="true"
                        nonce="{{ request.csp_nonce }}"></script>
                <script src="{% static 'js/alpine.min.js' %}"
                        defer="true"
                        nonce="{{ request.csp_nonce }}"></script>
            {% endif %}
            {% django_htmx_script %}
        {% endblock %}
    </head>
    <body>
        {% block preloader %}
            {% include 'peredion/elements/preloader.html' %}
        {% endblock %}
        {% block modal %}
            <div id="modalContainer"
                 @htmx:before-swap="if ($event.detail.target == $el) {const modalElem = $el.querySelector('.modal'); if (!!modalElem) {const modal = bootstrap.Modal.getOrCreateInstance(modalElem);modal.hide();}}"
                 @htmx:after-swap="if ($event.detail.target == $el) {const modalElem = $el.querySelector('.modal'); const modal = bootstrap.Modal.getOrCreateInstance(modalElem);modal.show();}"
                 x-data></div>
        {% endblock %}
        {% block header %}
            {% if request.user.is_authenticated %}
                {% include 'peredion/elements/bet-slip.html' %}
            {% endif %}
            {% include 'peredion/elements/header.html' %}
        {% endblock %}
        <div>
            {% block banner %}{% endblock %}
            {% block content %}{% endblock %}
        </div>
        {% block footer %}
            {% include 'peredion/elements/footer.html' %}
            <div class="back-to-top-btn">
                <a href="#">
                    <i class="fa-light fa-turn-up"></i>
                </a>
            </div>
        {% endblock %}
        {% block js %}
            <!-- jQuery js -->
            <script src="{% static 'peredion/js/jquery-3.6.0.min.js' %}"
                    nonce="{{ request.csp_nonce }}"></script>
            <!-- bootstrap js -->
            <script src="{% static 'peredion/js/bootstrap.bundle.min.js' %}"
                    nonce="{{ request.csp_nonce }}"></script>
            <!-- owl carousel js -->
            <script src="{% static 'peredion/js/owl.carousel.min.js' %}"
                    nonce="{{ request.csp_nonce }}"></script>
            <!-- live clock js -->
            <script src="{% static 'peredion/js/clock.min.js' %}"
                    nonce="{{ request.csp_nonce }}"></script>
            <!-- appear js -->
            <script src="{% static 'peredion/js/jquery.appear.min.js' %}"
                    nonce="{{ request.csp_nonce }}"></script>
            <!-- odometer js -->
            <script src="{% static 'peredion/js/odometer.min.js' %}"
                    nonce="{{ request.csp_nonce }}"></script>
            <!-- overlayScrollbars js -->
            <script src="{% static 'peredion/js/jquery.overlayScrollbars.min.js' %}"
                    nonce="{{ request.csp_nonce }}"></script>
            <!-- aos js -->
            <script src="{% static 'peredion/js/aos.js' %}"
                    nonce="{{ request.csp_nonce }}"></script>
            <!-- main script js -->
            <script src="{% static 'peredion/js/main.js' %}"
                    nonce="{{ request.csp_nonce }}"></script>
        {% endblock %}
    </body>
</html>
