{% load static %}

<nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-dark">
	<div class="container-fluid">
		<a class="navbar-brand mt-2 mt-lg-0 fw-bold me-2" href="/">
			<img src="{% static 'images/site-logo.jpg' %}" alt="GAME-on-LOCK" height="30"/>
		</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<i class="fas fa-bars"></i>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item">
					<a {% if request.path == "/" %} class="nav-link active" aria-current="page" {% else %} class="nav-link" {% endif %} href="/">Home</a>
				</li>
				<li class="nav-item dropdown">
					<a {% if "ticket" in request.path or "sportsbook" in request.path %} class="nav-link active dropdown-toggle" aria-current="page" {% else %} class="nav-link dropdown-toggle" {% endif %} href="#" id="sportsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						Sports
					</a>
					<ul class="dropdown-menu" style="background-color: #e3f2fd;" aria-labelledby="navbarDropdown">
						<li><a class="dropdown-item" href="/ticket/">GOL Ticket</a></li>
						<li><a class="dropdown-item" href="https://gl.sec-xm41d.com" referrer="www.gameonlock.com/">Sports Horses & Casino</a></li>
						<li><a class="dropdown-item" href="/ticket/rules/">Rules & Payments</a></li>
					</ul>
				</li>
				<li class="nav-item">
					<a {% if "shop" in request.path %} class="nav-link active" aria-current="page" {% else %} class="nav-link" {% endif %} href="https://gameonlock.square.site" referrer="www.gameonlock.com/">Shop</a>
				</li>
				<li class="nav-item">
					<a {% if "news" in request.path %} class="nav-link active" aria-current="page" {% else %} class="nav-link" {% endif %} href="/news/">News</a>
				</li>
				<li class="nav-item dropdown">
					<a {% if "about" in request.path %} class="nav-link active dropdown-toggle" aria-current="page" {% else %} class="nav-link dropdown-toggle" {% endif %} href="#" id="aboutDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						About
					</a>
					<ul class="dropdown-menu" style="background-color: #e3f2fd;" aria-labelledby="navbarDropdown">
						<li><a class="dropdown-item" href="/about/">About Us</a></li>
						<li><a class="dropdown-item" href="/about/contact/">Contact Us</a></li>
					</ul>
				</li>
			</ul>
			<!--
			<div class="d-flex align-items-center">
				<a class="text-reset me-3" href="/shop/cart/">
					Cart <i class="fas fa-shopping-cart" style="color: white;"></i>
				</a>
			</div>
			-->
		</div>
	</div>
</nav>