{% load static i18n view_breadcrumbs wagtailroutablepage_tags wagtailimages_tags %}
<div class="prd-breadcrumb overflow-hidden">
    {% if page and page.header_image %}
        {% image page.header_image fill-1500x250 as header_image %}
        <img class="position-absolute top-0 start-0 w-100 h-100 object-fit-cover"
             alt="{{ page.header_image.title }}"
             src="{{ header_image.url }}"
             nonce="{{ request.csp_nonce }}">
    {% endif %}
    <div class="brd-shape">
        <div class="brd-img brd-img-1"
             data-aos="fade-right"
             data-aos-delay="200"
             data-aos-duration="500"
             data-aos-easing="ease-in">
            <img src="{% static 'peredion/images/breadcrumb/brd-img-1.png' %}"
                 alt=""
                 nonce="{{ request.csp_nonce }}">
        </div>
        <div class="brd-img brd-img-2"
             data-aos="fade-left"
             data-aos-delay="200"
             data-aos-duration="500"
             data-aos-easing="ease-in">
            <img src="{% static 'peredion/images/breadcrumb/brd-img-2.png' %}"
                 alt=""
                 nonce="{{ request.csp_nonce }}">
        </div>
    </div>
    <div class="container">
        <div class="brd-content">
            <div data-aos="fade-up"
                 data-aos-delay="200"
                 data-aos-duration="500"
                 data-aos-easing="ease-in">
                <span class="sub-title">
                    {% if page %}
                        {{ page.title }}
                    {% else %}
                        {{ title }}
                    {% endif %}
                </span>
            </div>
            <h2 class="title"
                data-aos="fade-up"
                data-aos-delay="350"
                data-aos-duration="500"
                data-aos-easing="ease-in">
                {% if page %}
                    {{ page.subtitle|default:'' }}
                {% else %}
                    {{ subtitle|default:'' }}
                {% endif %}
            </h2>
            <div class="page-direction">
                {% if not page %}
                    {% render_breadcrumbs %}
                {% else %}
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            {% for ancestor in page.get_ancestors.inclusive.live %}
                                {% if not url or forloop.counter == breadcrumbs_total %}
                                    <li class="breadcrumb-item
                                               {% if forloop.counter == breadcrumbs_total %}active{% endif %}"
                                        {% if forloop.counter == breadcrumbs_total %}aria-current="page"{% endif %}>{{ ancestor.title|safe }}</li>
                                {% else %}
                                    <li class="breadcrumb-item">
                                        <a href="{{ ancestor.url }}">{{ ancestor.title|safe }}</a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ol>
                    </nav>
                {% endif %}
            </div>
        </div>
    </div>
</div>
