<nav aria-label="breadcrumb" class="page-direction">
    <ul>
        {% for url, label in breadcrumbs %}
            {% if not url or forloop.counter == breadcrumbs_total %}
                <li>
                    <span class="icon"><i class="{% if forloop.counter == 1 %}
              fa-solid fa-house
          {% else %}
              fa-light fa-caret-right fa-xl
          {% endif %}"></i></span>
                    <span class="text"
                          {% if forloop.counter == breadcrumbs_total %}aria-current="page"{% endif %}>{{ label|safe }}</span>
                </li>
            {% else %}
                <li>
                    <span class="icon"><i class="{% if forloop.counter == 1 %}
              fa-solid fa-house
          {% else %}
              fa-light fa-caret-right fa-xl
          {% endif %}"></i></span>
                    <a href="{{ url }}" class="text">{{ label|safe }}</a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
</nav>
