{% load static i18n %}
<div class="footer">
    <div class="global-shape style-4">
        <img src="{% static 'peredion/images/shapes/shape-1.png' %}"
             alt=""
             data-aos="fade-left"
             data-aos-duration="500"
             data-aos-offset="200"
             data-aos-easing="ease-in"
             data-aos-delay="500"
             nonce="{{ request.csp_nonce }}">
    </div>
    <div class="footer-top">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-6 col-lg-6 col-md-8 col-sm-9">
                    <div class="part-about">
                        <div class="footer-logo"
                             data-aos="fade-up"
                             data-aos-delay="100"
                             data-aos-duration="500"
                             data-aos-easing="ease-in">
                            <a href="index.html">
                                <img src="{% static 'peredion/images/logo/mobile-logo.png' %}"
                                     alt="{% trans 'logo' %}"
                                     class="logo"
                                     nonce="{{ request.csp_nonce }}">
                            </a>
                        </div>
                        <p data-aos="fade-up"
                           data-aos-delay="150"
                           data-aos-duration="500"
                           data-aos-easing="ease-in">
                            This allows bettors to bet over or under the bookmaker's score,
                            <br />
                            and indicate what they believe the difference in points will be.
                        </p>
                        <ul class="importants-links">
                            <li class="single-link"
                                data-aos="fade-up"
                                data-aos-delay="200"
                                data-aos-duration="500"
                                data-aos-easing="ease-in">
                                <a href="#0">policy</a>
                            </li>
                            <li class="single-link"
                                data-aos="fade-up"
                                data-aos-delay="250"
                                data-aos-duration="500"
                                data-aos-easing="ease-in">
                                <a href="#0">Terms</a>
                            </li>
                            <li class="single-link"
                                data-aos="fade-up"
                                data-aos-delay="300"
                                data-aos-duration="500"
                                data-aos-easing="ease-in">
                                <a href="#0">license</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="footer-bottom-content">
                <p class="copyright-text">Copyright © 2023. All Right Reserved By Peredion</p>
                <ul class="social-link">
                    <li class="single-social">
                        <a href="#0">
                            <i class="fa-brands fa-facebook-f"></i>
                        </a>
                    </li>
                    <li class="single-social">
                        <a href="#0">
                            <i class="fa-brands fa-twitter"></i>
                        </a>
                    </li>
                    <li class="single-social">
                        <a href="#0">
                            <i class="fa-brands fa-pinterest-p"></i>
                        </a>
                    </li>
                </ul>
                <div class="footer-menu">
                    <ul>
                        <li>
                            <a href="index.html" class="single-menu">homepage</a>
                        </li>
                        <li>
                            <a href="about.html" class="single-menu">About Us</a>
                        </li>
                        <li>
                            <a href="lotteries.html" class="single-menu">Lotteries</a>
                        </li>
                        <li>
                            <a href="blog-posts.html" class="single-menu">Blog</a>
                        </li>
                        <li>
                            <a href="contact.html" class="single-menu">contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
