{% load static i18n gameonlock %}
{% get_available_languages as languages %}
{# TODO: header animations not work #}
<header class="header header-fixed animated"
        x-data="{ isVisible: true, lastScrollY: window.scrollY, threshold: 10, debounceTimeout: null,  handleScroll() { const current = window.scrollY;  if (Math.abs(current - this.lastScrollY) <= this.threshold) return;  this.isVisible = current < this.lastScrollY || current < 100; this.lastScrollY = current; },  init() { window.addEventListener('scroll', () => { if (this.debounceTimeout) clearTimeout(this.debounceTimeout); this.debounceTimeout = setTimeout(() => this.handleScroll(), 100); }); } };"
        x-init="init()"
        :class="{ 'animate__fadeInDown': isVisible, 'animate__fadeOutUp': !isVisible }">
    <div class="top-bar">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-xl-5 col-lg-5 col-md-7">
                    <div class="left-side">
                        {% if request.user.is_authenticated %}
                            <div class="single-bar">
                                <span class="dashboard-overview">
                                    <span class="part-icon">
                                        <i class="fa-solid fa-circle-user"></i>
                                    </span>
                                    <span class="part-text">{% trans 'hi,' %} <span class="user-name">{{ request.user }}</span></span>
                                </span>
                            </div>
                            {% if request.user.email %}
                                <div class="single-bar">
                                    <span class="dashboard-overview">
                                        <span class="part-icon">
                                            <i class="fa-solid fa-envelope"></i>
                                        </span>
                                        <span class="part-text">{{ request.user.email }}</span>
                                    </span>
                                </div>
                            {% endif %}
                        {% endif %}
                        <div class="single-bar dropdown"
                             x-data="{ currentLang: '{{ request.LANGUAGE_CODE }}' }">
                            <a href="javascript:void(0);"
                               role="button"
                               id="languageMenuLink"
                               data-bs-toggle="dropdown"
                               aria-expanded="false"
                               class="dashboard-overview">
                                <span class="part-icon">
                                    <i class="fa-solid fa-globe"></i>
                                </span>
                                <span class="part-text lang-display" x-text="currentLang"></span>
                            </a>
                            {% if languages|length > 1 %}
                                <ul class="dropdown-menu lang-item" aria-labelledby="languageMenuLink">
                                    {% for lang_code, lang_name in languages %}
                                        {% if lang_code != request.LANGUAGE_CODE %}
                                            <li>
                                                <form method="post" action="{% url 'set_language' %}" class="language-form">
                                                    {% csrf_token %}
                                                    <input type="hidden" name="language" value="{{ lang_code }}">
                                                    <button type="submit"
                                                            class="dropdown-item"
                                                            x-on:click="currentLang = '{{ lang_code|language_name_local }}'">
                                                        {{ lang_code|language_name_local }}
                                                    </button>
                                                </form>
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="col-xl-5 col-lg-5 col-md-5">
                    <div class="right-side"
                         x-data="{ date: '', month: '', year: '', hours: '', minutes: '', seconds: '', monthNames: ['Jan', 'Feb', 'March', 'Apr', 'May', 'June', 'July', 'Aug', 'Sept', 'Oct', 'Nov', 'Dec'], updateClock() { const now = new Date(); this.date = now.getDate(); this.month = this.monthNames[now.getMonth()]; this.year = now.getFullYear(); this.hours = now.getHours().toString().padStart(2, '0'); this.minutes = now.getMinutes().toString().padStart(2, '0'); this.seconds = now.getSeconds().toString().padStart(2, '0'); } }"
                         x-init="updateClock(); setInterval(() => updateClock(), 1000)">
                        <div class="single-bar">
                            <span class="part-icon">
                                <i class="fa-solid fa-calendar-days"></i>
                            </span>
                            <span class="part-text">
                                <span x-text="date"></span>
                                <span x-text="month"></span>
                                <span x-text="year"></span>
                            </span>
                        </div>
                        <div class="single-bar">
                            <span class="part-icon">
                                <i class="fa-solid fa-clock"></i>
                            </span>
                            <span class="part-text">
                                <span class="timer" x-text="hours"></span>:<span class="timer" x-text="minutes"></span>:<span class="timer" x-text="seconds"></span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mobile-navbar">
        <div class="container">
            <div class="row">
                <div class="col-6 col-xl-none col-lg-none col-md-block d-flex align-items-center">
                    <a href="{% url 'index' %}" class="mobile-logo">
                        <img src="{% static 'peredion/images/logo/mobile-logo.png' %}"
                             alt="{% trans 'logo' %}"
                             nonce="{{ request.csp_nonce }}">
                    </a>
                </div>
                <div class="col-6 col-xl-none col-lg-none col-lg-block">
                    <button class="navbar-toggler"
                            type="button"
                            data-bs-toggle="collapse"
                            data-bs-target="#navbarSupportedContent"
                            aria-controls="navbarSupportedContent"
                            aria-expanded="false"
                            aria-label="{% trans 'Toggle navigation' %}"
                            x-data="{ isOpen: false }"
                            x-on:click="isOpen = !isOpen">
                        <i x-bind:class="isOpen ? 'fa-solid fa-bars-staggered' : 'fa-light fa-bars'"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="mainmenu">
        <div class="container">
            <nav class="navbar navbar-expand-lg">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <div class="scalation">
                        <div class="row">
                            <div class="col-xl-5 col-lg-5">
                                <ul class="navbar-nav nn-left">
                                    <li class="nav-item">
                                        {% url 'index' as url %}
                                        <a class="nav-link
                                                  {% if request.path == url %}active{% endif %}"
                                           href="{{ url }}">{% trans 'home' %}</a>
                                    </li>
                                    <li class="nav-item">
                                        {# TODO: this should direct to a wagtail page #}
                                        {% url 'about' as url %}
                                        <a class="nav-link
                                                  {% if request.path == url %}active{% endif %}"
                                           href="{{ url }}">{% trans 'about us' %}</a>
                                    </li>
                                    <li class="nav-item">
                                        {% url 'sportsbetting:bet' as url %}
                                        <a class="nav-link
                                                  {% if request.path == url %}active{% endif %}"
                                           href="{{ url }}">{% trans 'bets' %}</a>
                                    </li>
                                    <li class="nav-item">
                                        {% url 'contact' as url %}
                                        <a class="nav-link
                                                  {% if request.path == url %}active{% endif %}"
                                           href="{{ url }}">{% trans 'contact us' %}</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-2 col-lg-2 d-xl-block d-lg-block d-md-none">
                                <div class="logo">
                                    <a href="{% url 'index' %}">
                                        <img src="{% static 'peredion/images/logo/logo-1.png' %}"
                                             alt="{% trans 'logo' %}"
                                             nonce="{{ request.csp_nonce }}">
                                    </a>
                                </div>
                            </div>
                            <div class="col-xl-5 col-lg-5">
                                <ul class="navbar-nav nn-right">
                                    <li class="nav-item dropdown">
                                        {# TODO: direct to wagtail articles; detect active #}
                                        <a class="nav-link" href="javascript:void(0);">{% trans 'blog' %}</a>
                                    </li>
                                    <li class="nav-item">
                                        {% url 'faq' as url %}
                                        <a class="nav-link
                                                  {% if request.path == url %}active{% endif %}"
                                           href="{{ url }}">{% trans 'faq' %}</a>
                                    </li>
                                    {% if request.user.is_authenticated %}
                                        <li class="nav-item dropdown ms-auto">
                                            <a class="nav-link dropdown-toggle
                                                      {% if is_account_section_active %}active{% endif %}"
                                               href="javascript:void(0);"
                                               id="dashboardDropdown"
                                               role="button"
                                               data-bs-toggle="dropdown"
                                               aria-expanded="false">{% trans 'account' %}</a>
                                            <ul class="dropdown-menu" aria-labelledby="dashboardDropdown">
                                                <li>
                                                    <a class="dropdown-item" href="{% url 'dashboard' %}">{% trans 'dashboard' %}</a>
                                                </li>
                                                <li>
                                                    <a class="dropdown-item" href="{% url 'play_history' %}">{% trans 'bet history' %}</a>
                                                </li>
                                                <li>
                                                    <a class="dropdown-item" href="{% url 'transaction_history' %}">{% trans 'transaction history' %}</a>
                                                </li>
                                                <li>
                                                    <a class="dropdown-item" href="{% url 'settings' %}">{% trans 'settings' %}</a>
                                                </li>
                                            </ul>
                                        </li>
                                    {% else %}
                                        <li class="nav-item ms-auto">
                                            {% url 'account_login' as url %}
                                            <a class="nav-link
                                                      {% if request.path == url %}active{% endif %}"
                                               href="{{ url }}"><i class="fa-solid fa-user"></i>{% trans 'sign in' %}</a>
                                        </li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</header>
