{% load static i18n %}
<div class="preloader"
     x-data="{ visible: true }"
     x-show="visible"
     x-init="document.addEventListener('DOMContentLoaded', () => { setTimeout(() => { visible = false; document.dispatchEvent(new CustomEvent('PreloaderFinished')); }, 1000); });"
     x-transition.opacity.duration.1000ms>
    <div class="icon">
        <img src="{% static 'peredion/images/preloader/preload-1.gif' %}"
             alt=""
             nonce="{{ request.csp_nonce }}">
        <img src="{% static 'peredion/images/preloader/preload-2.gif' %}"
             alt=""
             nonce="{{ request.csp_nonce }}">
        <img src="{% static 'peredion/images/preloader/preload-5.gif' %}"
             alt=""
             nonce="{{ request.csp_nonce }}">
        <img src="{% static 'peredion/images/preloader/preload-4.gif' %}"
             alt=""
             nonce="{{ request.csp_nonce }}">
        <img src="{% static 'peredion/images/preloader/preload-3.gif' %}"
             alt=""
             nonce="{{ request.csp_nonce }}">
    </div>
    <span class="text">{% trans 'Game-on-Lock is loading' %}</span>
</div>
